<section class="text-justify">
  <div class="relative isolate overflow-hidden bg-white py-5 lg:overflow-visible lg:px-0">
    <div class="mx-auto grid-cols-1 gap-x-8 gap-y-16 lg:mx-0 lg:grid-cols-2 lg:items-start lg:gap-y-10">
        <div class="lg:pr-4">
          <div class="px-20">
            <h1 class="mt-2 text-pretty text-4xl font-semibold tracking-tight text-gray-900 sm:text-5xl text-center animate-slide-in-top">Tarkir, The Dragon's Land</h1>
            <p class="mt-6 text-xl/8 text-gray-700 animate-zoom-in">
              Tarkir, once a war-torn plane defined by clan rivalries and the extinction of dragons, has been irrevocably changed. In the current timeline, dragons rule the skies, and the old power structures have either been reshaped or swept away.
              Each clan, once led by a khan, now serves—or resists—the will of a mighty Dragonlord. Ancient magic stirs amidst the ruins of what was, and old grudges burn with new fire. Tarkir is a reborn world—vibrant, perilous, and forever
              altered—where history has been rewritten, but the struggle for dominance endures.
            </p>
            <img
              class="w-[40rem] h-[20rem] max-w-none rounded-2xl justify-self-center mt-3 animate-bounce-fade-in"
              src="/assets/images/home_image.jpg"
              alt="Tarkir's Lands"
            />
          </div>
        </div>

      <div class="lg:col-span-2 lg:col-start-1 lg:row-start-2 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-[70%_30%] lg:gap-x-8 lg:px-8 mt-10 bg-[#DCD6C3] rounded-2xl">
        <div>
          <h2 class="my-6 text-pretty text-4xl font-semibold tracking-tight text-gray-900 sm:text-3xl text-center animate-slide-in-top">
            The Abzan Houses
          </h2>
          <p class="flex items-center justify-center text-lg animate-zoom-in">
            Once defined by endurance and tradition, the Abzan valued family ties and honor above all else. In the dragon-dominated Tarkir, they now serve under Dromoka, whose teachings have reshaped their culture into one that worships unity through
            strength and obedience. The old ways are fading, but a quiet resistance still simmers beneath the surface.
          </p>
        </div>
        <div>
          <img
            src="/assets/images/abzan_houses.webp" alt="Abzan Houses"
            class="w-[25rem] rounded-2xl justify-self-end animate-blurred-fade-in">
        </div>
      </div>

      <div class="lg:col-span-2 lg:col-start-1 lg:row-start-2 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-[30%_70%] lg:gap-x-8 lg:pr-8 mt-10 bg-[#C4D4E3] rounded-2xl">
        <div>
          <img
            src="/assets/images/jeskai_way.webp" alt="Abzan Houses"
            class="w-[25rem] rounded-2xl justify-self-start animate-blurred-fade-in">
        </div>
        <div>
          <h2 class="my-6 text-pretty text-4xl font-semibold tracking-tight text-gray-900 sm:text-3xl text-center animate-slide-in-top">
            The Jeskai Way
          </h2>
          <p class="flex items-center justify-center text-lg pr-8 animate-zoom-in">
            Seekers of enlightenment and discipline, the Jeskai once blended martial prowess with mystical insight. Under Ojutai, the clan now venerates knowledge as divine truth, treating the dragon as both mentor and god. The contemplative monks have
            become devoted scholars, though not all agree with the rigid control of their so-called spiritual guide.
          </p>
        </div>
      </div>

      <div class="lg:col-span-2 lg:col-start-1 lg:row-start-2 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-[70%_30%] lg:gap-x-8 lg:px-8 mt-10 bg-[#000000] bg-opacity-50 rounded-2xl">
        <div>
          <h2 class="my-6 text-pretty text-4xl font-semibold tracking-tight text-gray-900 sm:text-3xl text-center animate-slide-in-top">
            The Sultai Brood
          </h2>
          <p class="flex items-center justify-center text-lg animate-zoom-in">
            Ruled by cunning and greed, the Sultai once embraced dark magic and necromancy to maintain their power. Now, under the merciless gaze of Silumgar, their ambitions remain—but with a constant threat of betrayal or death. Loyalty is fickle, and
            survival often depends on one's ability to manipulate from the shadows.
          </p>
        </div>
        <div>
          <img
            src="/assets/images/sultai_brood.png" alt="Abzan Houses"
            class="w-[25rem] rounded-2xl justify-self-end animate-blurred-fade-in">
        </div>
      </div>

      <div class="lg:col-span-2 lg:col-start-1 lg:row-start-2 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-[30%_70%] lg:gap-x-8 lg:pr-8 mt-10 bg-[#D6A28C] rounded-2xl">
        <div>
          <img
            src="/assets/images/mardu_horde.webp" alt="Abzan Houses"
            class="w-[25rem] rounded-2xl justify-self-end animate-blurred-fade-in">
        </div>
        <div>
          <h2 class="my-6 text-pretty text-4xl font-semibold tracking-tight text-gray-900 sm:text-3xl text-center animate-slide-in-top">
            The Mardu Horde
          </h2>
          <p class="flex items-center justify-center text-lg pr-8 animate-zoom-in">
            A clan of speed, fury, and relentless aggression, the Mardu once lived for battle and the thrill of the charge. Under Kolaghan’s reign, they still do—but now they worship the storm of war incarnate. Swift and brutal, the Mardu have become
            even more volatile, their freedom traded for blood-soaked zealotry.
          </p>
        </div>
      </div>

      <div class="lg:col-span-2 lg:col-start-1 lg:row-start-2 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-[70%_30%] lg:gap-x-8 lg:px-8 mt-10 bg-[#5FB1A2] rounded-2xl">
        <div>
          <h2 class="my-6 text-pretty text-4xl font-semibold tracking-tight text-gray-900 sm:text-3xl text-center animate-slide-in-top">
            The Temur Frontier
          </h2>
          <p class="flex items-center justify-center text-lg animate-zoom-in">
            Embodying ferocity and connection to nature, the Temur prized instinct and strength. With Atarka as their Dragonlord, primal hunger now dictates their way of life. The clan reveres raw power and survival above all else, living in a brutal
            harmony with their savage environment and their voracious leader.
          </p>
        </div>
        <div>
          <img
            src="/assets/images/temur_frontier.webp" alt="Abzan Houses"
            class="w-[25rem] rounded-2xl justify-self-end animate-blurred-fade-in">
        </div>
      </div>
    </div>
  </div>
</section>
