@if (cardResource.value()) {
  <section class="py-8 bg-white md:py-16 dark:bg-gray-900 antialiased">
    <div class="max-w-screen-xl px-4 mx-auto 2xl:px-0">
      <div class="lg:grid lg:grid-cols-[30%_40%_30%] lg:gap-8 xl:gap-16">
        <div class="shrink-0 max-w-md lg:max-w-lg mx-auto">
          <img class="w-[45vh] h-[64.9vh] dark:hidden justify-self-center " [src]="cardResource.value()?.pngUrl" [alt]="cardResource.value()?.name"/>
        </div>

        <div class="mt-6 sm:mt-8 lg:mt-0">
          <h1
            class="text-xl font-semibold text-gray-900 sm:text-2xl dark:text-white"
          >{{ cardResource.value()?.name }}  {{ cardResource.value()?.manaCost }} {{ cardResource.value()?.colors }}
          </h1>
          <h1
            class="text-base font-semibold text-gray-900 sm:text-lg dark:text-white"
          > {{ cardResource.value()?.rarity | titlecase }}
          </h1>
          <h1
            class="text-base font-semibold text-gray-900 sm:text-lg dark:text-white"
          >{{ cardResource.value()?.type }}
          </h1>
          <div class="mt-4 sm:items-center sm:gap-4 sm:flex">
            <p
              class="text-2xl font-extrabold text-gray-900 sm:text-3xl dark:text-white"
            >
              {{ cardResource.value()!.prices['eur'] | currency:'EUR':'symbol':'1.2-2' }}
            </p>
          </div>

          <hr class="my-6 md:my-8 border-gray-200 dark:border-gray-800" />

          <p [innerHTML]="formattedEffect()"></p>
        </div>
        <div class="w-60 relative overflow-x-auto shadow-md sm:rounded-lg mt-5 h-[calc(100vh-180px)] mb-5 ml-8">
          <h3 class="w-60 text-center">Legalities</h3>
          <table class="text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
              <tbody>
                @for (legal of legalitiesEntries(); track $index) {
                  <tr>
                    <td class="pl-6">
                      {{ legal.format | titlecase }}
                    </td>
                    <td class="pl-6">
                      @if (checkLegality(legal.status)) {
                        <img class="h-6" src="/assets/images/checked.png" alt="Legal">
                      } @else {
                        <img class="h-6" src="/assets/images/cancel.png" alt="Legal">
                      }
                    </td>
                  </tr>
                }
              </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
}@else{
  <h2 class="text-center">Producto cargando... </h2>
}
