
<h1 class="text-primary text-center pt-2 font-medium text-3xl">Bestiary</h1>

<div class="flex items-center justify-between py-4 md:py-8 flex-wrap gap-2">
  <input
      type="text"
      class="input input-bordered w-60 max-w-xs ml-5 sm:ml-4"
      placeholder="Search Card"
      (input)="searchQuery.set(txtSearch.value)"
      #txtSearch/>
    <div class="grid justify-end">
      <bestiary-filters-menu/>
    </div>
</div>
<hr class="border border-accent mx-2">
<div
  class="h-screen overflow-y-scroll pt-5"
  (scroll)="onScroll($event)"
  #groupDiv>
  <cards-list [searchParams]="searchQuery()"/>
</div>

