<div class="navbar bg-base-100">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h8m-8 6h16" />
        </svg>
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
        <li>
          <a
            class="btn"
            routerLink="clans"
            routerLinkActive="btn-primary">
            Dragon's Cave (Home)
          </a>
        </li>
        <li>
          <a
            class="btn"
            routerLink="battlefield"
            routerLinkActive="btn-primary">
            Battlefield (Decks)
          </a>
        </li>
        <li>
          <a
            class="btn"
            routerLink="bestiary"
            routerLinkActive="btn-primary">
            Bestiary (Card Gallery)
          </a>
        </li>
      </ul>
    </div>
    <a
      class="btn btn-ghost text-primary text-xl"
      routerLink="/clans"
    >Tarkir: Dragon's Land</a>
  </div>

  <!-- Desktop -->
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      <li>
        <a
          class="btn mr-3"
          routerLink="clans"
          routerLinkActive="btn-primary">
          Clans
        </a>
      </li>
      <li>
        <a
          class="btn mr-3"
          routerLink="battlefield"
          routerLinkActive="btn-primary">
          Battlefield (Decks)
        </a>
      </li>
      <li>
        <a
          class="btn mr-3"
          routerLink="bestiary"
          routerLinkActive="btn-primary">
          Bestiary (Card Gallery)
        </a>
      </li>
    </ul>
  </div>
  <div class="navbar-end">
    <details class="dropdown dropdown-end">
      <summary tabindex="0" role="button" class="btn m-1" (click)="toggleDropdown()" [class.btn-primary]="isOpen()">Themes</summary>
      <ul tabindex="0" class="dropdown-content menu bg-base-300 rounded-box z-[1] w-29 p-2 m-1 shadow">
        @for (clan of clans; track clan) {
          <li>
            <a
            (click)="themeService.changeDataTheme(clan)"
            >{{ clan | titlecase }}</a>
          </li>
        }
        <li>
          <a
          (click)="themeService.saveThemeToLocalStorage()"
          >Save</a>
        </li>
      </ul>
    </details>
  </div>
</div>
