<footer class="footer footer-center bg-base-200 rounded p-4 text-sm">
  <div class="grid grid-row-2 lg:grid-cols-3">
    <nav class="grid grid-flow-col gap-7">
      <a
        class="link link-hover mr-2"
        routerLink="clans"
      >Clans</a>
      <a
        class="link link-hover"
        routerLink="cards"
      >Bestiary</a>
    </nav>
    <aside>
      <p>Copyright © {{date}} - All right reserved by Iván García Torresano</p>
    </aside>
    <div class="hidden lg:grid grid-cols-5">
      @for (clan of clans; track clan) {
        <button
          [routerLink]="'clans/' + clan"
        >
          @if (themeService.actualTheme() == "forest" || themeService.actualTheme() == "dracula" || themeService.actualTheme() == "synthwave") {
            <img class="bg-white border rounded-full w-5 lg:w-10 mr-2" [src]="'/assets/images/' + clan + '.webp'" [alt]="clan | titlecase">
          }@else {
            <img class="rounded-full w-5 lg:w-10 mr-2" [src]="'/assets/images/' + clan + '.webp'" [alt]="clan | titlecase">
          }
        </button>
      }
    </div>
  </div>
</footer>
